#code{
    width: 100%;
    height: 400px;
}
.daara{
    color: #ff7f00;
}
.card{
    display: grid;
    justify-content: center;
    text-align: center;
}
.element{
    display: flex;
    justify-content: center;
}